<!doctype html>
<html>
<head>

</head>
<body>
    <%- include('header') %>
    <div class="newPage">
        This would be the site on a different domain where the students can enter their info.  Check the URL
        query parameter.  It has the score hidden in it that the other site will pick up on.
    </div>

</body>
</html>